.movies {
    padding-top: 20px;
    
}

.moviesGrid {
  display: flex;
  /* flex-direction: row; */
}


.movieContainer {
    border-style: ridge;
    border-width: 5px;
    border-radius: 10px;
    min-height: 420px;
    margin: 20px auto 45px; 
    box-shadow: 10px 5px 5px rgb(12, 12, 121);
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
  }

  .movieImage {
    box-shadow: 10px 5px 5px black;
  }

  .movieBody {
      overflow-wrap: break-word;
      /* color: blue; */
      text-align: right;
  }

  .genreTags {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto; */
    width: 100%;
  }

  .genreTags span, .movieType {
      border: 1px solid black;
      border-radius: 4px;
      padding: 0 10px;
      margin: 5px;
      display:  inline-block;
  }

  .movieType {
    border: 1px solid magenta;
    color: magenta;
    /* background-color: pink; */
    /* font-weight: bold; */
    box-shadow: 0px 0px 2px magenta;
    
  }
  
table {
    border-collapse: collapse;
}  

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}
  
  