.movies {
    padding-top: 20px;
    
}

.moviesGrid {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  /* grid-gap: 8.5rem; */
  /* width: 100%; */
  /* max-width: 1280px; */
  /* max-width: 1500px; */
  /* margin: 0 auto; */
  /* margin-bottom: 6rem; */
  margin-left: 10px;
  margin-top: 20px;
}

@media (max-width: 28.75rem) { /* 28.75rem */
  .moviesGrid {
    /* margin: 0 auto; */
    /* display: flex; */
    /* flex-direction: column; */
  }
  .movieContainer {
    /* max-width: 300px; */
    /* display: flex;
    flex-direction: column; */
  }
  .card {
    margin: 0 auto;
  }
}

.card {
  width: 17.5rem;
}

.movieContainer {
    border-style: ridge;
    border-width: 5px;
    border-radius: 10px;
    /* width: 27rem; */
    min-height: 530px; /* 420px; */
    max-height: 530px;
    /* height: 60px; */
    margin: 20px auto 45px; 
    /* margin: 20px 20px 45px 20px; */
    box-shadow: 10px 5px 5px rgb(12, 12, 121);
    /* display: flex; */
    /* justify-content: space-around; */
    /* flex-direction: row; */
  }

  .movieContainer:hover {
    transform: scale(1.08);
    cursor: pointer;
    box-shadow: 4px 1px 5px blue;
  }

  .movieImage {
    box-shadow: 10px 5px 5px black;
    /* height: 60px; */
    max-width: 100%;
    /* height: auto; */
  }

  .movieBody {
      font-size: 10px;
      /* overflow-wrap: break-word; */
      /* color: blue; */
      /* text-align: right; */
  }

  .genreTags {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto; */
    width: 100%;
  }

  .genreTags span, .movieType {
      border: 1px solid black;
      border-radius: 4px;
      padding: 0 10px;
      margin: 5px;
      display:  inline-block;
      box-shadow: 1px 1px 2px black;
  }

  .movieType {
    border: 1px solid magenta;
    color: magenta;
    /* background-color: pink; */
    /* font-weight: bold; */  
    box-shadow: 1px 1px 2px magenta;
  }
  
table {
    border-collapse: collapse;
}  

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  width: 100%;
}

/* .modal-content {
  margin: 8% auto;


  width: 45rem;
  height: 25rem;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 10px 5px 5px rgb(12, 12, 121);
} */
  
.modalMovieContainer {
  border-style: ridge;
  border-width: 5px;
  border-radius: 10px;
  height: 38rem;
  min-height: 420px;
  margin: 20px auto 45px; 
  box-shadow: 10px 5px 5px rgb(12, 12, 121);
  display: flex;
  justify-content: space-around;
  background-color: white;
}



.modalMovieImage {
  box-shadow: 10px 5px 5px black;
  margin-top: 25px;
  /* style={{width: '22rem', height: '32rem'}} */
  /* width: 100%; */
  /* height: auto; */
}

.modalMovieBody {
  overflow-wrap: break-word;
  text-align: right;
  font-size: 16px;
}

.modalBtn {
  margin: 50px 100px 0px 0;
  /* text-align: center; */
  width: 30%;
  height: 6%;
  color: white;
  background-color: rgb(197, 25, 25);
}

.modalBtn:hover {
  color: rgb(197, 25, 25);
}


@media (max-width: 28.75rem) {
  .modal {
    /* position: absolute; */
    /* height: 10rem; */
    /* height: 50%; */
  }
  .modalMovieContainer {
    flex-direction: column;
    width: 17.5rem; 
    /* height: 702rem; */
    /* justify-content: center; */
    height: 45rem;
    /* margin: 0 auto; */
  }

  .modalMovieImage {
    width: 15rem;
    height: 15rem;
    /* margin: 20px 10px 0 60px; */
    margin: 5px 10px 0 80px;
  }

  .modalMovieBody {
    width: 17.5rem;
    /* height: 10rem; */
    font-size: 12px;
    text-align: center;
    /* margin: 0 auto; */
    background-color: white;
  }

  .modalBtn {
    margin: 0 0 10px 0;
  }
}