@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: lightsteelblue; */
}

@media (max-width: 28.75rem) {
  body {
    /* width: 17.5rem; */
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigationBtns {
  margin: 2rem 0 4rem;
  display: flex;
  justify-content: center;
}

.prevBtn, .nextBtn {
  background-color: #e17b77;
  /* background-color: rgb(105, 8, 13); */
  border: 2px solid #e17b77;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  font-weight: 100;
  padding: 10px 14px;
  letter-spacing: .5px;
  text-transform: uppercase!important;
}


.prevBtn {
  margin-right: 70px;
}

.nextBtn {
  margin-left: 70px;
}

.prevBtn:hover {
  background-color: white;
  color:#e17b77;
}

.nextBtn:hover {
  background-color: white;
  color:#e17b77;
}

button:hover {
  background-color: white;
  color:green;
}

#topLeftBtn, #topRightBtn {
  font-size: 10px;
  margin: 0 10px;
}